.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.wrapper form {
    margin: 20px;
}
.wrapper button {
    margin: 20px 0;
}